.clubcard {

    width: 22rem;
    height: 25rem;
    float:left;
    border-style: solid;
    border-color: brown;
    margin: 3rem;
    padding: 2rem;
    padding-top: 1rem;
    background-color: rgb(145, 7, 7);
}
img{
    border-radius: 15px;
    margin-bottom: 1rem;
}

.c_title {
    
    text-align: center;
    color: white;
    height: 6rem;


}

