.clubcard {
    float:left;
    margin: 3rem;
    padding: 2rem;
    padding-top: 1rem;
    border-radius: 40px;
}
.c-card-img{

    width:80%;
    height:auto;
    margin-bottom: 1rem;

}

.c_title {
    
    text-align: center;
    color: #e51937;
    height: 6rem;

}
.club-card-image {

    display:flex;
    justify-content: center;
    margin-top: 2em;
    
}

